<header class="site-header">
  <div id="site--title"><a href="/">TourRankings</a></div>
  <% if (typeof racePcsId !== 'undefined') { %>
    <a href="/<%= racePcsId %>/<%= year %>/<%= stageNumber %>/<%= stageRankings %>">
      <%= raceName %>
    </a>
    <a href="/<%= racePcsId %>/<%= year %>/<%= stageNumber %>/<%= stageRankings %>">
      <%= year %>
    </a>
    <a href="/<%= racePcsId %>/<%= year %>/<%= stageNumber %>/<%= stageRankings %>">
      <%= stageNumber %>
    </a>
    <a href="/<%= racePcsId %>/<%= year %>/<%= stageNumber %>/<%= stageRankings %>">
      <%= stageRankings %>
    </a>
  <% } %>
</header>
