<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= title %></title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/cycling.css">
</head>
<body>
  <%- include('../organisms/header') %>

  <main>
    <%- include('../organisms/raceLists') %>
  </main>

  <%- include('../organisms/footer') %>

  <%- include('../molecules/feedback-form') %>

</body>
</html>
