<!-- server/views/pages/race.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%= description %>" />

  <title><%= race.raceName %> | TourRankings</title>
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  <script type="module" src="/js/dist/index.js" defer></script>
 </head>
<body>
  <%- include('../organisms/header')%>

  <main>
    <h1>
      <span id="race-year"><%=  race.year %></span>
      <span id="race-name"> <%=  race.raceName %></span>
    </h1>
    <% if (stage && stage.stage !== 0) { %>
      <h2>
        <span id="stage-count">Stage
          <span id="stage-number"><%= stage.stage %></span>
        </span>
        <span id="stage-stype"><% if (stage.stageType) {%> <%= stage.stageType %> <% }%><span>

        <span class="stage-name">
          <span id="stage-depature"><%= stage.departure %></span>
          to
          <span id="stage-arrival"><%= stage.arrival %></span>
        </span>
      </h2>
    <% } else if (stage && stage.stageType == "prologue") { %>
      <h2>Prologue <span class="stage-name"><%= stage.departure %> &gt; <%= stage.arrival %><span></h2>
    <% } %>

    <section id="race-rankings">
    </section>

  </main>

  <%- include('../organisms/footer') %>


</body>
</html>
